#app {
  display: grid;
  grid-template-columns: 51.25% 48.75%;

  height: 100vh;
  overflow: hidden;
}

main {
  overflow: auto;
  padding: 4rem;

  & .main-container {
    max-width: 33rem;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
  }

  & h1 {
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: 1.5rem;
  }
}

aside {
  background-color: var(--surface-secondary);
  padding: 4rem;

  & .aside-container {
    max-width: 31rem;

    & > img {
      margin-top: 2rem;
    }
  }

  & h2 {
    font: 600 2.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
    & span {
      color: var(--text-highlight);
    }
  }
}

@media (width <= 48em) { 
  body {
    overflow-y: visible;
  }

  #app {
      display: flex;
      flex-direction: column;
      overflow-y: visible; /* Garante que o conteúdo possa rolar */
  }

  aside {
    order: -1;
    padding: 1.5rem;

    & .aside-container > img {
      margin-top: 0.75rem;
    }
  }

  .aside-container {
    & header > img {
      display: block;
      margin: 0 auto;
    }
  }

  main {
    overflow: visible;

    padding: 1.5rem;
    margin: auto;
  }
}
